*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#f5f7fa,#dfe9f3);
    min-height:100vh;
    padding:20px;
}

header{
    text-align:center;
}

h1{
    font-size:3rem;
    margin-bottom:20px;
    color:#222;
}

#themeBtn{
    padding:10px 20px;
    border:none;
    border-radius:25px;
    cursor:pointer;
    margin-bottom:20px;
    font-size:16px;
}

.filters{
    margin-bottom:30px;
}

.filters button{
    padding:10px 20px;
    margin:5px;
    border:none;
    border-radius:25px;
    background:#222;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.filters button:hover{
    background:#007bff;
    transform:translateY(-3px);
}

.gallery{
    max-width:1400px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.gallery-item{
    height:250px;
    overflow:hidden;
    border-radius:12px;
    cursor:pointer;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.gallery-item img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.5s ease;
}

.gallery-item:hover img{
    transform:scale(1.1);
}

.lightbox{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.95);
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.lightbox img{
    max-width:80%;
    max-height:80%;
    border-radius:10px;
}

.close{
    position:absolute;
    top:20px;
    right:30px;
    color:white;
    font-size:40px;
    cursor:pointer;
}

.prev,
.next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:50px;
    color:white;
    cursor:pointer;
    padding:10px;
}

.prev{
    left:20px;
}

.next{
    right:20px;
}

#counter{
    position:absolute;
    bottom:30px;
    color:white;
    font-size:20px;
}

.dark{
    background:#111;
    color:white;
}

.dark h1{
    color:white;
}

.dark .filters button{
    background:#444;
}

@media(max-width:768px){

    h1{
        font-size:2rem;
    }

    .gallery{
        grid-template-columns:1fr;
    }

    .lightbox img{
        max-width:95%;
    }

    .prev,
    .next{
        font-size:35px;
    }
}